@use "../utilities" as *;

html {
  font-size: 16px;
  font-style: normal;
}

body {
  font-family: $font-primary;
  color: $blue-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
}